<div class="form-group {% if properties.size %}{{ sizes[properties.size] }}{% else %}{{ sizes[12] }}{% endif %}">
    <label for="{{ field_id }}" class="form-control-title">{{ tr(properties.title) }}</label>
    <textarea id="{{ field_id }}" name="{{ field_name }}" rows="0" cols="0" class="js-html-editor form-control {{ properties.class }}">{{ field_value }}</textarea>
    {% if properties.help %}
        <small>{{ tr(properties.help)}}</small>
    {% endif %}
</div>

{% if registry.get('flextype.settings.locale') == 'en_US' %}
    {% set trumbowyg_locale = 'en' %}
{% else %}
    {% set trumbowyg_locale = registry.get('flextype.settings.locale')|lower|slice(0, 2) %}
{% endif %}

<input type="hidden" name="trumbowyg-icons-path" value="{{ url() }}/project/plugins/form/assets/dist/fonts/trumbowyg/icons.svg">
<input type="hidden" name="trumbowyg-locale" value="{{ trumbowyg_locale }}">
