<div class="plugin-form-group {% if properties.size %}{{ sizes[properties.size] }}{% else %}{{ sizes[12] }}{% endif %}">
    <label for="{{ field_id }}" class="plugin-form-label">{{ tr(properties.title) }}</label>
    <input type="password"
           id="{{ field_id }}"
           name="{{ field_id }}"
           value="{{ field_value }}"
           class="plugin-form-control {{ properties.class }}"
           {% if properties.validation.required %}required="required"{% endif %}
           {% if properties.validation.pattern %}pattern="{{ properties.validation.pattern }}"{% endif %}>
    {% if properties.help %}
        <small>{{ tr(properties.help)}}</small>
    {% endif %}
</div>
