{% set sizes =
    {
        '1/12': 'col-md-1',
        '2/12': 'col-md-2',
        '3/12': 'col-md-3',
        '4/12': 'col-md-4',
        '5/12': 'col-md-5',
        '6/12': 'col-md-6',
        '7/12': 'col-md-7',
        '8/12': 'col-md-8',
        '9/12': 'col-md-9',
        '10/12': 'col-md-10',
        '11/12': 'col-md-12',
        '12/12': 'col-md-12',
        '12': 'col-md-12',
        'full': 'col-md-12',
     }
%}

<div class="{% if fieldset.size %}{{ sizes[fieldset.size] }}{% else %}{{ sizes[12] }}{% endif %}">

    {% if fieldset.form.heading %}
        <h{% if fieldset.form.heading.h %}{{ fieldset.form.heading.h }}{% else %}3{% endif %} class="mb-3 {{ fieldset.form.heading.class }}">{{ __(fieldset.form.heading.title) }}</h{% if properties.h %}{{ properties.h }}{% else %}3{% endif %}>
    {% endif %}

    {% if fieldset.form.tabs %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for key, section in fieldset.form.tabs %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if key == 'main' %}active{% endif %}" id="{{ key }}-tab-link" data-bs-toggle="tab" data-bs-target="#{{ key }}-tab" type="button" role="tab" aria-controls="{{ key }}-tab" aria-selected="{% if key == 'main' %}true{% else %}false{% endif %}">{{ __(section.title) }}</button>
            </li>
            {% endfor %}
        </ul>
        {% include "plugins/form/fieldsets/multi-form.html" %}
    {% else %}
        {% include "plugins/form/fieldsets/single-form.html" %}
    {% endif %}

    {% if fieldset.form.messages.success %}
        {% for message in flextype.flash.getMessages()['success'] %}
            <div class="plugin-form-message-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if fieldset.form.messages.error %}
        {% for message in flextype.flash.getMessages()['error'] %}
            <div class="plugin-form-message-error">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
