{% set headingSize =
    {
        'huge':   '1',
        'large':  '2',
        'medium': '3',
        'small':  '4',
        'tiny':   '5',
     }
%}

{% set fields =
    [
        'text',
        'email',
        'password',
        'textarea',
        'hidden',
        'number',
        'datetimepicker',
        'heading',
        'html',
        'tags',
        'select',
        'select_routable',
        'select_visibility',
        'select_template',
        'select_media'
    ]
%}

{% import "plugins/form/fieldsets/macros/grid.html" as grid %}

<div class="{{ grid.col(fieldset.size, fieldset.grid) }}">

    {% if fieldset.header %}
        <div class="header">
            <div class="header-title"><h1 class="{{ fieldset.header.class }}">{{ __(fieldset.header.title) }}</h1></div>
            <div class="header-buttons">{% include "plugins/form/fieldsets/buttons.html" with {"buttons": fieldset.header.buttons} %}</div>
        </div>
    {% endif %}

    {% if fieldset.form.tabs %}
        {% include "plugins/form/fieldsets/tabs-form.html" %}
    {% else %}
        {% include "plugins/form/fieldsets/single-form.html" %}
    {% endif %}

    {% if fieldset.form.messages.success %}
        {% for message in flextype.flash.getMessages()['success'] %}
            <div class="plugin-form-message-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if fieldset.form.messages.error %}
        {% for message in flextype.flash.getMessages()['error'] %}
            <div class="plugin-form-message-error">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
