<form action="{% if fieldset.form.action %}{{ path_for(fieldset.form.action) }}{% endif %}"
      method="{% if fieldset.form.method %}{{ fieldset.form.method }}{% else %}post{% endif %}"
      {% if fieldset.form.id %}id="form-{{ fieldset.form.id }}"{% endif %}
      {% if fieldset.form.name %}id="form-{{ fieldset.form.name }}"{% endif %}>
    {{ csrf() }}
    <input type="hidden" id="form-save-action" name="form-save-action" value="form-save-action">
    {% for key, tab in fieldset.form.tabs %}
        <div class="form-tabs__content {% if key == 'main' %} form-tabs__content--active {% endif %}">
            <div class="form-row">
                {% for element, properties in fieldset['form']['tabs'][key]['fields']  %}

                    {% set field_name = flextype.form.getElementName(element) %}
                    {% set field_id = flextype.form.getElementID(element) %}
                    {% set field_value = flextype.form.getElementValue(element, values, properties) %}

                    {% include "plugins/form/fieldsets/fields/fields.html" %}

                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if fieldset.form.buttons %}
        {% for key, button in fieldset.form.buttons %}
            {% if button.type == 'submit' %}
                <input type="submit" value="{{ __(button.title) }}" class="form-button {{ button.class }}">
            {% endif %}
            {% if button.type == 'button' %}
                <a href="{{ button.href }}"
                   id="{{ button.id }}"
                   name="{{ button.name }}"
                   target="{{ button.target }}"
                   class="form-button-secondary {{ button.class }}">{{ __(button.title) }}</a>
            {% endif %}
            {% if button.type == 'link' %}
                <a href="{{ button.href }}"
                   id="{{ button.id }}"
                   name="{{ button.name }}"
                   target="{{ button.target }}"
                   class="form-button-link {{ button.class }}">{{ __(button.title) }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</form>
