<form action="{% if fieldset.form.action %}{{ urlFor(fieldset.form.action) }}{% endif %}"
      method="{% if fieldset.form.method %}{{ fieldset.form.method }}{% else %}post{% endif %}"
      {% if fieldset.form.id %}id="{{ fieldset.form.id }}"{% endif %}
      {% if fieldset.form.name %}name="{{ fieldset.form.name }}"{% endif %}
      data-parsley-validate
      {% if fieldset.form.events %}
          {% for key, value in fieldset.form.events %}
               {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                             'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                             'onkeydown', 'onblur', 'onreset', 'onsubmit'] %}
                   {{ key }} = "{{ value }}"
               {% endif %}
          {% endfor %}
      {% endif %}>
    {{ csrf() }}
    <ul class="nav nav-tabs" id="workspaceTab" role="tablist">
        {% for key, section in fieldset.form.tabs %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if key == 'main' %}active{% endif %}"
                    id="{{ key }}-tab-link"
                    data-bs-toggle="tab"
                    data-bs-target="#{{ key }}-tab"
                    type="button"
                    role="tab"
                    aria-controls="{{ key }}-tab"
                    aria-selected="{% if key == 'main' %}true{% else %}false{% endif %}">{{ __(section.title) }}</button>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="workspaceTabContent">
    {% for key, tab in fieldset.form.tabs %}
        <div class="tab-pane fade {% if key == 'main' %}show active{% endif %}" id="{{ key }}-tab" role="tabpanel" aria-labelledby="{{ key }}-tab">
            <div class="row">
                {% for element, properties in fieldset['form']['tabs'][key]['fields']  %}

                    {% set field_name = flextype.form.getElementName(element) %}
                    {% set field_id = flextype.form.getElementID(element) %}
                    {% set field_value = flextype.form.getElementValue(element, values, properties) %}

                    {% include "plugins/form/fieldsets/fields/fields.html" %}

                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% if fieldset.form.buttons %}
        {% for key, button in fieldset.form.buttons %}
            {% if button.type == 'submit' %}
                <input type="submit"
                       id="{{ button.id }}"
                       value="{{ __(button.title) }}"
                       class="btn btn-primary {{ button.class }}"
                       {% if properties.events %}
                           {% for key, value in properties.events %}
                                {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                              'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                              'onkeydown', 'onblur'] %}
                                    {{ key }} = "{{ value }}"
                                {% endif %}
                           {% endfor %}
                       {% endif %}>
            {% endif %}
            {% if button.type == 'button' %}
                <a href="{{ button.href }}"
                   id="{{ button.id }}"
                   name="{{ button.name }}"
                   target="{{ button.target }}"
                   class="btn btn-secondary {{ button.class }}"
                   {% if properties.events %}
                       {% for key, value in properties.events %}
                            {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                          'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                          'onkeydown', 'onblur'] %}
                                {{ key }} = "{{ value }}"
                            {% endif %}
                       {% endfor %}
                   {% endif %}>{{ __(button.title) }}</a>
            {% endif %}
            {% if button.type == 'link' %}
                <a href="{{ button.href }}"
                   id="{{ button.id }}"
                   name="{{ button.name }}"
                   target="{{ button.target }}"
                   class="btn btn-link {{ button.class }}"
                   {% if properties.events %}
                       {% for key, value in properties.events %}
                            {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                          'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                          'onkeydown', 'onblur'] %}
                                {{ key }} = "{{ value }}"
                            {% endif %}
                       {% endfor %}
                   {% endif %}>{{ __(button.title) }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</form>
