<div class="plugin-form-group {% if properties.size %}{{ sizes[properties.size] }}{% else %}{{ sizes[12] }}{% endif %}">
    <label for="{{ field_id }}" class="plugin-form-label">{{ tr(properties.title) }}</label>
    <input type="text" id="{{ field_id }}" name="{{ field_id }}" value="{{ field_value|date(flextype.registry.get('flextype.settings.date_display_format')) }}" class="plugin-form-control js-datetimepicker {{ properties.class }}">
    {% if properties.help %}
        <small>{{ tr(properties.help)}}</small>
    {% endif %}
</div>

{% if flextype.registry.get('flextype.settings.locale') == 'en_US' %}
    {% set flatpickr_locale = 'en' %}
{% else %}
    {% set flatpickr_locale = flextype.registry.get('flextype.settings.locale')|lower|slice(0, 2) %}
{% endif %}

<input type="hidden" name="flatpickr-date-format" value="{{ flextype.registry.get('flextype.settings.date_format') }}">
<input type="hidden" name="flatpickr-locale" value="{{ flatpickr_locale }}">
