{% set fields = ['text',
                 'email',
                 'password',
                 'textarea',
                 'hidden',
                 'number',
                 'datetimepicker',
                 'heading',
                 'html',
                 'tags',
                 'select',
                 'select_routable',
                 'select_visibility',
                 'select_template',
                 'select_media'] %}

{% for field in fields %}
    {% if properties.type == field %}
        {% include "plugins/form/fieldsets/fields/" ~ field ~ "/field.html" %}
    {% endif %}
{% endfor %}
