<div class="form-group {% if properties.size %}{{ sizes[properties.size] }}{% else %}{{ sizes[12] }}{% endif %}">
    <label for="{{ field_id }}" class="form-control-title">{{ tr( properties.title) }}</label>
    <textarea id="{{ field_id }}"
              name="{{ field_name }}"
              rows="0"
              cols="0"
              class="form-control {{  properties.class }}"
              {% if properties.validation.required %}required="required"{% endif %}
              {% if properties.validation.pattern %}pattern="{{ properties.validation.pattern }}"{% endif %}>{{ field_value }}</textarea>
    {% if properties.help %}
        <small>{{ tr(properties.help) }}</small>
    {% endif %}
</div>
