{% set templates = filesystem().find().in(PATH_PROJECT ~ '/themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/').files() %}
<div class="form-group {% if properties.size %}{{ sizes[properties.size] }}{% else %}{{ sizes[12] }}{% endif %}">
    <label for="{{ field_id }}" class="form-control-title">{{ tr(properties.title) }}</label>
    <select class="form-control {{ properties.class }} js-select-template" name="{{ field_name }}">
        {% for template in templates %}
            {% if template.extension == 'html'%}
                <option value="{{ template.basename }}" {% if template.basename == field_value %} selected="selected" {% endif %}>{{ template.basename }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% if properties.help %}
        <small>{{ tr(properties.help) }}</small>
    {% endif %}
</div>
