.plugin-form-tabs__nav
{
    width: 100%;
    margin-bottom: 20px;
}

.plugin-form-tabs__nav > div
{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    appearance: none;

    background-color: rgb(250, 251, 252);
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: rgb(36, 41, 46);
    padding: 0;
}

.plugin-form-tabs__nav > div a:first-of-type
{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.plugin-form-tabs__nav > div a:last-of-type
{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.plugin-form-tabs__content
{
  width: 100%;
  display: none;
  border-radius: 0.25rem;
}

.plugin-form-tabs__content--active
{
  display: block;
}

.plugin-form-tabs__nav__links
{
    padding: 5px 16px;
    display: flex;
    background-color: #fff;
    color: rgb(36, 41, 46);
}

.plugin-form-tabs__nav__link
{
  flex-basis: 0;
  flex-grow: 1;
  display: block;
  color: rgb(36, 41, 46);
  text-align: center;
  opacity: .8;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.plugin-form-tabs__nav__link:hover,
.plugin-form-tabs__nav__link--active
{
    color: rgb(36, 41, 46);
    background-color: rgb(237, 239, 242);
    opacity: 1;
}

.plugin-form-tabs
{
    display: block;
}
