input:focus,
button:focus,
button:active {
    outline: none;
}

.form-heading {
     font-size: 1.875rem;
     border-bottom-width: 1px;
     border-color: #000000;
}

.form-message-success {
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: #16171a;
    color: #ffffff;
    background-color: #16171a;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 10px 20px;
}

.form-message-error {
    padding: 10px 20px;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: #16171a;
    color: #ffffff;
    background-color: #16171a;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
