.plugin-form-wrapper,
.plugin-form-wrapper.plugin-form-col {
    padding: 0;
    margin: 0;
}

.plugin-form-label
{
    margin-bottom: .5rem;
    font-weight: 400;
    display: inline-block;
}

.plugin-form-control
{
    border: 1px solid #e1e4e8;
    display: block;
    width: 100%;
    padding: .44rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.plugin-form-control:active,
.plugin-form-control:focus
{
    outline: 0;
    border-color: #aaa;
    box-shadow: none;
}

.plugin-form-group
{
    margin-bottom: 1rem;
}

.plugin-form-row
{
    display: flex;
    flex-wrap: wrap;

    margin-right: -10px;
    margin-left: -10px;
}

.plugin-form-col
{
    position: relative;

    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.plugin-form-button
{

}

.plugin-form-button:hover,
.plugin-form-button--white:hover
{

}

.plugin-form-button-secondary {

}

.plugin-form-button-secondary:hover
{

}
