.form-w-1\/12 {
  width: 8.333333%;
}

.form-w-2\/12 {
  width: 16.666667%;
}

.form-w-3\/12 {
  width: 25%;
}

.form-w-4\/12 {
  width: 33.333333%;
}

.form-w-5\/12 {
  width: 41.666667%;
}

.form-w-6\/12 {
  width: 50%;
}

.form-w-7\/12 {
  width: 58.333333%;
}

.form-w-8\/12 {
  width: 66.666667%;
}

.form-w-9\/12 {
  width: 75%;
}

.form-w-10\/12 {
  width: 83.333333%;
}

.form-w-full {
  width: 100%;
}
