.plugin-form-w-1\/12 {
  width: 8.333333%;
}

.plugin-form-w-2\/12 {
  width: 16.666667%;
}

.plugin-form-w-3\/12 {
  width: 25%;
}

.plugin-form-w-4\/12 {
  width: 33.333333%;
}

.plugin-form-w-5\/12 {
  width: 41.666667%;
}

.plugin-form-w-6\/12 {
  width: 50%;
}

.plugin-form-w-7\/12 {
  width: 58.333333%;
}

.plugin-form-w-8\/12 {
  width: 66.666667%;
}

.plugin-form-w-9\/12 {
  width: 75%;
}

.plugin-form-w-10\/12 {
  width: 83.333333%;
}

.plugin-form-w-11\/12 {
  width: 91.666667%;
}

.plugin-form-w-full {
  width: 100%;
}

.plugin-form-w-screen {
  width: 100vw;
}

.plugin-form-w-min {
  width: min-content;
}

.plugin-form-w-max {
  width: max-content;
}
