.plugin-form-message-success {
    color: var(--font-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 10px 20px;
}

.plugin-form-message-error {
    color: #DC2626;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 10px 20px;
}
