html,
body {
    font-size: 14px;
}

$primary: #16171a;

$border-radius:    .375rem !default;
$border-radius-sm: .45rem !default;
$border-radius-lg: .6rem !default;

$body-color: #16171a;

$input-btn-focus-box-shadow: none;
